.ads 
    .container 
        .ads__items 
            img.items__img(src="assets/img/food.png", alt="")
            .items__text 
                h2 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
                .items__title 
                    .items__title__left
                        img(src="assets/img/past.png", alt="")
                    .items__title__right
                        p Lorem ipsum?
                .items__title 
                    .items__title__left
                        img(src="assets/img/past.png", alt="")
                    .items__title__right
                        p Lorem ipsum?
                .items__title 
                    .items__title__left
                        img(src="assets/img/past.png", alt="")
                    .items__title__right
                        p Lorem ipsum?
                .items__title 
                    .items__title__left
                        img(src="assets/img/past.png", alt="")
                    .items__title__right
                        p Lorem ipsum?
                .items__title 
                    .items__title__left
                        img(src="assets/img/past.png", alt="")
                    .items__title__right
                        p Lorem ipsum?
            img.items__ques(src="assets/img/ill2.png", alt="")
    img.ads__back(src="assets/img/bg2.png", alt="")
