banner.banner 
    span.left__span 
    .container 
        .banner__title 
            .title__left 
                img(src="assets/img/ill.png", alt="")
            .title__right 
                .title__top
                    h1.title__top__h1 Выбор дизайн <br>  сайта 
                    p.title__top__p Выбор дизайна сайта на ваш вкус!
                    button.title__top__btn ВЫБРАТЬ
                .title__bottom
                    img(src="assets/img/uslugi.png", alt="")
