
.card__block 
    .container 
        .card__txt 
            h1 Наши проекты
        .card__click 
           .outerDivFull
           .switchToggle
                input(type="checkbox" id="switch")
                label(for="switch") 
        .cards
            .card 
                img(src="assets/img/pic.jpg", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h3 150$
                button Купить
            .card 
                img(src="assets/img/pic.jpg", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h3 150$
                button Купить
            .card 
                img(src="assets/img/pic.jpg", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h3 150$
                button Купить
            .card 
                img(src="assets/img/pic.jpg", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h3 150$
                button Купить
            .card 
                img(src="assets/img/pic.jpg", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h3 150$
                button Купить
            .card 
                img(src="assets/img/pic.jpg", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h3 150$
                button Купить



