.comment 
    .container 
        .comment__title 
            .comment__img 
                img(src="assets/img/comments.png", alt="")
            .comment__text 
                h3 Комментарии от наших клиентов
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis sollicitudin non amet elementum, urna ipsum. Urna tellus gravida orci feugiat mauris, diam donec eleifend imperdiet. Quam non risus varius consectetur orci. Purus felis diam tempor vel sit phasellus adipiscing. Vel hac cras tellus eu. Rhoncus cras quis integer sit in imperdiet adipiscing lectus. 