.design__top 
    .container 
        .design__title 
            .des__left  
                img(src="assets/img/micro.png", alt="")
                .des__left__txt     
                    h3 Lorem ipsum dolor 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. At egestas enim ullamcorper nulla viverra at ultricies euismod vitae.
            .des__right
                .outerDivFull2
                .switchToggle2
                        input(type="checkbox" id="switch")
                        label(for="switch") 