
.container 
  .wall 
    .wall__Left
      .wall__Poster
        img(src="assets/img/wall.jpg", alt="")
      .wall__LeftPics 
        img(src="assets/img/orange.jpg", alt="").wall__LeftPic
        img(src="assets/img/orange.jpg", alt="").wall__LeftPic
        img(src="assets/img/orange.jpg", alt="").wall__LeftPic
        img(src="assets/img/orange.jpg", alt="").wall__LeftPic
        img(src="assets/img/orange.jpg", alt="").wall__LeftPic
    .wall__Mid
      button.wall__Cross
        img(src="assets/img/cross.png", alt="")
    .wall__Right
      .wall__RightTop 
        .wall__RightTopTitle Комментарии
        .wall__RightTopArea 
          textarea(name="", cols="30", rows="10" placeholder="Введите текст...").wall__RightTopComment
          button.wall__TopRightSend
            img(src="assets/img/send.png", alt="")
      .wall__RightBottom
        .wall__RightBottomDash
        .wall__RightBottomUser
          .userLeft 
            img(src="assets/img/user.jpg", alt="")
          .userRight
            .userTitle 
              .userName John Washington 
              .userDate 03.02.2021
            .userComment Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. 
        .wall__RightBottomUserL
          .userLeft 
            img(src="assets/img/user.jpg", alt="")
          .userRight
            .userTitle 
              .userName John Washington 
              .userDate 03.02.2021
            .userComment Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. 
        .wall__RightBottomUserL
          .userLeft 
            img(src="assets/img/user.jpg", alt="")
          .userRight
            .userTitle 
              .userName John Washington 
              .userDate 03.02.2021
            .userComment Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. 
        .wall__RightBottomUser
          .userLeft 
            img(src="assets/img/user.jpg", alt="")
          .userRight
            .userTitle 
              .userName John Washington 
              .userDate 03.02.2021
            .userComment Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. 
.productsBack(style='background-image: url(assets/img/productsBack.png)')
  .container
    .products 
      .products__Title Похожие проекты
      .products__Items
        .products__Item 
          img(src="assets/img/product.png", alt="").itemImg
          .itemInfo Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .itemPrice 150$
          button.itemButton Купить
        .products__Item 
          img(src="assets/img/product.png", alt="").itemImg
          .itemInfo Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .itemPrice 150$
          button.itemButton Купить
        .products__Item 
          img(src="assets/img/product.png", alt="").itemImg
          .itemInfo Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .itemPrice 150$
          button.itemButton Купить
        .products__Item 
          img(src="assets/img/product.png", alt="").itemImg
          .itemInfo Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .itemPrice 150$
          button.itemButton Купить
        .products__Item 
          img(src="assets/img/product.png", alt="").itemImg
          .itemInfo Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .itemPrice 150$
          button.itemButton Купить
        .products__Item 
          img(src="assets/img/product.png", alt="").itemImg
          .itemInfo Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .itemPrice 150$
          button.itemButton Купить


