.desban 
    .container 
        .desban__wrapper 
            .desban__left
                h1.desban__h1 Выберите дизайн <br>  сайта/креатив на свой вкус 
                p.desban__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tellus lacus molestie <br> tellus sed. Eu, etiam ac volutpat sagittis.
                button.desban__btn Другие услуги
            .desban__right
                img(src="assets/img/brend.png", alt="")
.desban__second
    .container
        .desban__all
            .desban__input
                img(src="assets/img/search.png", alt="" )
                input(type="text" placeholder="Поиск...").desban__inpt
                ul.desban__ul 
                    li.desban__li 
                        a.desban__a(href="#") Landing page
                    li.desban__li 
                        a.desban__a(href="#") Корпоративные сайты
                    li.desban__li 
                        a.desban__a(href="#") Сайт-визитка
                    li.desban__li 
                        a.desban__a(href="#") Сайт-витрина
                    li.desban__li 
                        a.desban__a(href="#") Интернет-магазин
            .desban__button 
                .designbtn__one
                .designbtn__two
                        input(type="checkbox" id="switch")
                        label(for="switch") 
.desban__imgs 
    .container 
        .desban__row 
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            .desban__card 
                img(src="assets/img/rec.png", alt="").desban__card--img
                p.card__p Lorem ipsum
                .desban__text__row 
                    .desban__card__txt  
                        img(src="assets/img/cart.png", alt="")
                        p Покупок - 21
                    .desban__card__txt  
                        img(src="assets/img/date.png", alt="")
                        p Дата публикации - 07.08.202
            