.desfooter 
    .container 
        .desfooter__title
            .des__left
                ul.left__ul 
                    li.left__li 
                        a.left__a(href="#") Меню
                    li.left__li 
                        a.left__a(href="#") О нас
                    li.left__li 
                        a.left__a(href="#") Конакты
                    li.left__li 
                        a.left__a(href="#") На карте
            .des__middle
                li.middle__li 
                    a.middle__a(href="#")
                        img.middle__img(src="assets/img/insta1.png", alt="") 
                li.middle__li 
                    a.middle__a(href="#")
                        img.middle__img(src="assets/img/tw.png", alt="") 
                li.middle__li 
                    a.middle__a(href="#")
                        img.middle__img(src="assets/img/tg.png", alt="") 
            .des__right
                p.right__p OOO “Freedom’s Coffee”. Freedom’s design