footer.footer 
    .container 
        .footer__menu 
            .menu_links 
                ul.menu__ul 
                    li.menu__li 
                        a.menu__a(href="#") Меню
                    li.menu__li 
                        a.menu__a(href="#") О нас
                    li.menu__li 
                        a.menu__a(href="#") Конакты
                    li.menu__li 
                        a.menu__a(href="#") На карте
            .menu__icons
                .icons__pic 
                    a(href=""): img(src="assets/img/tw.png", alt="").icons__img 
                .icons__pic 
                    a(href=""): img(src="assets/img/insta1.png", alt="").icons__img
                .icons__pic 
                    a(href=""): img(src="assets/img/tg.png", alt="").icons__img
            .menu__infos
                span OOO “Freedom’s Coffee”. Freedom’s design
