.free 
    .container 
        .free__title 
            span.free__span1
            span.free__span2
            span.free__span3
            span.free__span4
            span.free__span5
            span.free__span6
            span.free__span7
    span.free__span__big        