.help 
    .help__span--on
    .container 
        .help__title 
            .help__helpme
                .helpme__block 
                    .helpme__block__top
                        img(src="assets/img/phone.png", alt="")
                        p PHONES
                    .helpme__block__bottom
                        p (316) 555-0116
                        p (316) 555-0116
                .helpme__block 
                    .info__block__top
                        img(src="assets/img/face.png", alt="")
                        p Facebook
                    .info__block__bottom
                        p example@mail.ru
                        p example@mail.ru
                .helpme__block 
                    .helpme__block__top
                        img(src="assets/img/insta.png", alt="")
                        p INSTAGRAM
                    .helpme__block__bottom
                        p 2715 Ash Dr. San Jose, South Dakota 83475
                        p 2972 Westheimer Rd. Santa Ana, Illinois 85486
            .help__map
                img.map(src="assets/img/map.png", alt="")
            .help__inputs
                h2 Оставить заявку на звонок/заказать сайт под ключ
                form(action="/")
                    input(type="text" placeholder="Имя").inp__on 
                    input(type="text" placeholder="E-mail").inp__tw
                    input(type="text" placeholder="Номер телефона").inp__th 
                    input(type="textarea" placeholder="Сообщение").inp__fo
                    input(type="submit" value="ОТПРАВИТЬ СООБЩЕНИЕ").inp__btn
                    