.infos 
    .container 
        .infos__title 
            .infos__inputs
                h2 Оставить заявку на звонок/заказать <br> сайт под ключ
                form(action="/")
                    input(type="text" placeholder="Имя").inp__on 
                    input(type="text" placeholder="E-mail").inp__tw
                    input(type="text" placeholder="Номер телефона").inp__th 
                    input(type="textarea" placeholder="Сообщение").inp__fo
                    input(type="submit" value="ОТПРАВИТЬ СООБЩЕНИЕ").inp__btn
            .infos__map
                img.map(src="assets/img/map.png", alt="")
            .infos__info
                .info__block 
                    .info__block__top
                        img(src="assets/img/phone.png", alt="")
                        p PHONES
                    .info__block__bottom
                        p (316) 555-0116
                        p (316) 555-0116
                .info__block 
                    .info__block__top
                        img(src="assets/img/phone.png", alt="")
                        p Facebook
                    .info__block__bottom
                        p example@mail.ru
                        p example@mail.ru
                .info__block 
                    .info__block__top
                        img(src="assets/img/phone.png", alt="")
                        p INSTAGRAM
                    .info__block__bottom
                        p 2715 Ash Dr. San Jose, South Dakota 83475
                        p 2972 Westheimer Rd. Santa Ana, Illinois 85486 
    .infos__span