header.header 
    .container 
        .head 
            .head__logo
                p LOGO 
            .head__menu
                .menu__row 
                    ul.row__ul 
                        li.row__li 
                            a.row__a(href="#") Главная
                        li.row__li 
                            a.row__a(href="#") О нас 
                        li.row__li 
                            a.row__a(href="#") Наши контакты 
                        li.row__li 
                            a.row__a(href="#") Чем мы занимаемся
                        li.row__li 
                            a.row__a(href="#") Заказать сайт под ключ
            .head__info
                .head__info__left 
                    .head__info--img 
                        img(src="assets/img/us.png", alt="")
                    .head__info--txt 
                        a(href="#")  John Washington
                .head__info__right 
                    button.head__info__btn Позвонить
            button.header__btn#headbtn Menu 
            .btn__row#headrow
                ul.btn__ul 
                    li.btn__li 
                        a.btn__a(href="#") Главная
                    li.btn__li 
                        a.btn__a(href="#") О нас 
                    li.btn__li 
                        a.btn__a(href="#") Наши контакты
                    li.btn__li 
                        a.btn__a(href="#") Чем мы занимаемся
                    li.btn__li 
                        a.btn__a(href="#") Заказать сайт под ключ