mixin prod 
    .prod
        .prod__pic
            img(src="assets/img/delivery.png", alt="").prod__img
        .prod__txt
            p.prod__p Доставка стройматериалов  и аренда спецтехники


mixin product 
    .product__block 
        .prod__top 
            p.prod__top--p Лидер продаж 
            img.prod__top--img(src="assets/img/start.png", alt="")
        .prod__sec 
            img.sec__img(src="assets/img/stone.png", alt="")
        .prod__txt 
            h3.txt__h3  Кирпич облицовочный M95 Воткинский
            p.txt__p Кол-во на поддоне, шт. - 297
            p.txt__p Формат одинарный
            .prod__wr 
                p.wr__p бесплатная доставка
                a(href="").wr__a в наличии
            span.wr__span 4500 P/ шт
            .wr__btns 
                button.wr__btn Купить в 1 клик
                button.wr__btn2 √