
.oplata Оплата
.oplata1 Выберите способ оплаты

.paycards 
    .row 
        input(type="radio" id="first" name="gender")
        label(for="first")

            .first__card 
                .img 
                    img(src="assets/img/first.png", alt="")
                .text Оплатить другой картой   

        input(type="radio" id="second" name="gender")
        label(for="second")
            .second__card 
                .img 
                    img(src="assets/img/second.png", alt="")
                .text Visa card

        input(type="radio" id="third" name="gender")
        label(for="third")
            .third__card 
                .img 
                    img(src="assets/img/third.png", alt="")
                .text Uzcard
.table  
    .title  
        .background 

        .information
            .circle 
                .one 1
            .txt Платежная информация
        .inputs 
            .txt Имя и фамилия владельца карты
            input(type="text" placeholder="John Washington")
            .txt Номер карты
            input(type="text" placeholder="1235 **** ****  7777")
            .txt ГГ/ММ
            input(type="text" placeholder="**/**")
            .txt CVV код
            input(type="text" placeholder="**/**")
            .txt Введите код из SMS
            input(type="text" placeholder="**/**")
        .btn 
            button Готово
        .img 
            img(src="assets/img/2.png", alt="")
    .title  
        .background 
        .information
            .circle 
                .one 2
            .txt Заполните пустые поля
        .inputs 
            .txt Ваше имя фамилия
            input(type="text" placeholder="John Washington")
            .txt Кто вы? ( владелец компании , дизайнер и т.д )
            input(type="text" placeholder="**** **** **** ****")
            .txt Откуда вы? ( страна , город )
            input(type="text" placeholder="**/**")
            .txt Для каких целей покупаете?
            input(type="text" placeholder="**/**")
            .txt Ваши предложения
            input(type="text" placeholder="**/**")
        .btn 
            button Оплатить
        .img 
            img(src="assets/img/2.png", alt="")
.proyekt Похожие проекты
.splide.slider__padding
    .splide__track
        .splide__list
            .splide__box.splide__slide
                img(src="assets/img/slider1.png", alt="")
                .img__txt 
                    img(src="assets/img/karzinka.png", alt="")
                    .txt Покупок - 21
                .data 
                    img(src="assets/img/31.png", alt="")
                    .txt Дата публикации - 07.08.2021
                .lorem Lorem Ipsum
            .splide__box.splide__slide
                img(src="assets/img/slider.png", alt="")  
                .lorem Lorem Ipsum
            .splide__box.splide__slide
                img(src="assets/img/slider2.png", alt="")  
                .lorem Lorem Ipsum
            .splide__box.splide__slide
                img(src="assets/img/slider3.png", alt="")  
                .lorem Lorem Ipsum
            .splide__box.splide__slide  
                img(src="assets/img/slider.png", alt="")  
                .lorem Lorem Ipsum
            .splide__box.splide__slide
                img(src="assets/img/slider.png", alt="")  
                .lorem Lorem Ipsum
            
