.service 
    .container 
        .service__img
            h4.ser__h4 Почему мы?
            .front__img
                .front__block 
                    img(src="assets/img/img1.png", alt="")
                    p Идеи в реальность
                .front__block 
                    img(src="assets/img/img2.png", alt="").block__img2
                    p Квалифицированные специалисты
                .front__block 
                    img(src="assets/img/img3.png", alt="").block__img3
                    p Лёгкое использования
                .front__block 
                    img(src="assets/img/img4.png", alt="")
                    p Адекватные цены
                .front__block 
                    img(src="assets/img/img5.png", alt="").block__img5
                    p Скорость выполнения
                .front__block 
                    img(src="assets/img/img6.png", alt="")
                    p Проекты под ключ
.container 
    img(src="assets/img/endb.png", alt="").bg__img
    