.work 
    .container 
        h1.work__h1 SMM продвижение
        .work__wrapper 
            .work__left
                img(src="assets/img/smm.png", alt="")
            .work__right
                h2.work__right__h2 SMM продвижение
                p.work__right__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc purus lectus mollis aliquam suscipit in in cras quam. Tellus eget pulvinar fringilla laoreet phasellus mattis neque, massa quam. Nam nec amet enim, at nunc dignissim. Sed ullamcorper fermentum arcu a, ut hendrerit ut. Aliquam id et rhoncus id fermentum arcu quis quam odio. Tellus consectetur at adipiscing augue etiam pulvinar. Pharetra tincidunt nunc nunc proin nunc et sed lectus. Amet massa fusce fames nulla enim tincidunt nisi, erat id.Lacus consequat dis purus imperdiet accumsan massa. Nisi et risus ultricies faucibus augue. Vivamus nascetur eu pellentesque et. Phasellus integer placerat id cursus amet. Arcu massa feugiat porta viverra. Porta consequat id mauris urna.
                p.work__right__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc purus lectus mollis aliquam suscipit in in cras quam. Tellus eget pulvinar fringilla laoreet phasellus mattis neque, massa quam. Nam nec amet enim, at nunc dignissim. Sed ullamcorper fermentum arcu a, ut hendrerit ut. Aliquam id et rhoncus id fermentum arcu quis quam odio. Tellus consectetur at adipiscing augue etiam pulvinar. Pharetra tincidunt nunc nunc proin nunc et sed lectus. Amet massa fusce fames nulla enim tincidunt nisi, erat id.Lacus consequat dis purus imperdiet accumsan massa. Nisi et risus ultricies faucibus augue. Vivamus nascetur eu pellentesque et. Phasellus integer placerat id cursus amet. Arcu massa feugiat porta viverra. Porta consequat id mauris urna.
                button.work__right__btn Позвонить
                .work__right__img 
                    img(src="assets/img/uslugi.png", alt="")

                    