extends ../blocks/loged_temp.pug

block content 
    include ../blocks/banner.pug
    include ../blocks/free.pug
    include ../blocks/service.pug
    include ../blocks/card.pug
    include ../blocks/comment.pug
    include ../blocks/ads.pug
    include ../blocks/info.pug